$colorBaseBlue5: #fafcff;    
$colorBaseBlue10: #edf4fe;    
$colorBaseBlue20: #deebff;    
$colorBaseBlue30: #acccfb;    
$colorBaseBlue40: #4186ed;    
$colorBaseBlue50: #1369e9;    
$colorBaseBlue60: #1058c3;    
$colorBaseBlue70: #0d479d;    
$colorBaseBlue80: #0a3677;    
$colorBaseBlue90: #072552;    
$colorBaseGreen5: #fafffc;    
$colorBaseGreen10: #ecfaf4;    
$colorBaseGreen20: #e0f5ec;    
$colorBaseGreen30: #b2e9d1;    
$colorBaseGreen40: #78dab0;    
$colorBaseGreen50: #28b97b;    
$colorBaseGreen60: #229b67;    
$colorBaseGreen70: #1b7d53;    
$colorBaseGreen80: #155f3f;    
$colorBaseGreen90: #0e412b;    
$colorBaseRed5: #fff6f6;    
$colorBaseRed10: #ffeeee;    
$colorBaseRed20: #fde6e6;    
$colorBaseRed30: #f8b0b0;    
$colorBaseRed40: #f57676;    
$colorBaseRed50: #ea1c1c;    
$colorBaseRed60: #c11717;    
$colorBaseRed70: #981212;    
$colorBaseRed80: #6f0d0d;    
$colorBaseRed90: #460808;    
$colorBaseYellow5: #fffcf4;    
$colorBaseYellow10: #fff9eb;    
$colorBaseYellow20: #fff7de;    
$colorBaseYellow30: #ffe9a8;    
$colorBaseYellow40: #ffd65a;    
$colorBaseYellow50: #ffbf00;    
$colorBaseYellow60: #d29e00;    
$colorBaseYellow70: #a67c00;    
$colorBaseYellow80: #795b00;    
$colorBaseYellow90: #4d3900;    
$colorBaseOrange5: #fffaf6;    
$colorBaseOrange10: #fff4ec;    
$colorBaseOrange20: #ffebde;    
$colorBaseOrange30: #ffd2b6;    
$colorBaseOrange40: #ffa064;    
$colorBaseOrange50: #ff6200;    
$colorBaseOrange60: #d25100;    
$colorBaseOrange70: #a64000;    
$colorBaseOrange80: #792f00;    
$colorBaseOrange90: #4d1d00;    
$colorBaseCyan5: #f5feff;    
$colorBaseCyan10: #eafdff;    
$colorBaseCyan20: #d7f9ff;    
$colorBaseCyan30: #bef5ff;    
$colorBaseCyan40: #1eccee;    
$colorBaseCyan50: #00aed4;    
$colorBaseCyan60: #038ab2;    
$colorBaseCyan70: #0c7090;    
$colorBaseCyan80: #145b75;    
$colorBaseCyan90: #154c63;    
$colorBasePurple5: #fafaff;    
$colorBasePurple10: #f4f3ff;    
$colorBasePurple20: #ebe9fe;    
$colorBasePurple30: #d2ccff;    
$colorBasePurple40: #9b8afb;    
$colorBasePurple50: #7a5bf8;    
$colorBasePurple60: #6839ef;    
$colorBasePurple70: #5826dc;    
$colorBasePurple80: #4a20b8;    
$colorBasePurple90: #3e1d96;    
$colorBaseTeal5: #f6fefc;    
$colorBaseTeal10: #edfefa;    
$colorBaseTeal20: #d4fdf3;    
$colorBaseTeal30: #b9f9ed;    
$colorBaseTeal40: #2cd3b7;    
$colorBaseTeal50: #12b79e;    
$colorBaseTeal60: #0b9384;    
$colorBaseTeal70: #0f7569;    
$colorBaseTeal80: #115d56;    
$colorBaseTeal90: #124e48;    
$colorBasePink5: #fef6fb;    
$colorBasePink10: #fff0fb;    
$colorBasePink20: #ffe5f7;    
$colorBasePink30: #fbb3e4;    
$colorBasePink40: #f670c7;    
$colorBasePink50: #ee46bc;    
$colorBasePink60: #dd2590;    
$colorBasePink70: #c11574;    
$colorBasePink80: #9e165f;    
$colorBasePink90: #851651;    
$colorBaseGray5: #f9fafb;    
$colorBaseGray10: #f3f4f6;    
$colorBaseGray20: #e5e7eb;    
$colorBaseGray30: #d2d6db;    
$colorBaseGray40: #9da4ae;    
$colorBaseGray50: #6c737f;    
$colorBaseGray60: #4d5761;    
$colorBaseGray70: #384250;    
$colorBaseGray80: #1f2a37;    
$colorBaseGray90: #111927;    
$colorBaseCoolgray5: #f9fafb;    
$colorBaseCoolgray10: #f2f4f7;    
$colorBaseCoolgray20: #eaecf0;    
$colorBaseCoolgray30: #d0d5dd;    
$colorBaseCoolgray40: #98a2b3;    
$colorBaseCoolgray50: #667085;    
$colorBaseCoolgray60: #475467;    
$colorBaseCoolgray70: #344054;    
$colorBaseCoolgray80: #1d2939;    
$colorBaseCoolgray90: #101828;    
$colorBaseWhite0: #ffffff00;    
$colorBaseWhite5: #ffffff0d;    
$colorBaseWhite10: #ffffff1a;    
$colorBaseWhite20: #ffffff33;    
$colorBaseWhite30: #ffffff4d;    
$colorBaseWhite40: #ffffff66;    
$colorBaseWhite50: #ffffff80;    
$colorBaseWhite60: #ffffff99;    
$colorBaseWhite70: #ffffffb2;    
$colorBaseWhite80: #ffffffcc;    
$colorBaseWhite90: #ffffffe5;    
$colorBaseWhite100: #ffffff;    
$colorBaseBlack5: #0000000d;    
$colorBaseBlack10: #0000001a;    
$colorBaseBlack20: #00000033;    
$colorBaseBlack30: #0000004d;    
$colorBaseBlack40: #00000066;    
$colorBaseBlack50: #00000080;    
$colorBaseBlack60: #00000099;    
$colorBaseBlack70: #000000b2;    
$colorBaseBlack80: #000000cc;    
$colorBaseBlack90: #000000e5;    
$colorBaseBlack100: #000000;    
$colorFillTransparent: $colorBaseWhite0;    
$colorFillBlack: $colorBaseBlack100;    
$colorFillWhite: $colorBaseWhite100;    
$colorFillGreenDarker: $colorBaseGreen90;    
$colorFillGreen: $colorBaseGreen50;    
$colorFillGreenLight: $colorBaseGreen30;    
$colorFillGreenLightest: $colorBaseGreen10;    
$colorFillGreenFaint: $colorBaseGreen5;    
$colorFillBlueDarker: $colorBaseBlue90;    
$colorFillBlueDark: $colorBaseBlue60;    
$colorFillBlue: $colorBaseBlue50;    
$colorFillBlueLight: $colorBaseBlue30;    
$colorFillBlueLighter: $colorBaseBlue20;    
$colorFillBlueLightest: $colorBaseBlue10;    
$colorFillBlueFaint: $colorBaseBlue5;    
$colorFillGrayDarker: $colorBaseCoolgray90;    
$colorFillGrayDark: $colorBaseCoolgray60;    
$colorFillGray: $colorBaseCoolgray50;    
$colorFillGrayLight: $colorBaseCoolgray30;    
$colorFillGrayLighter: $colorBaseCoolgray20;    
$colorFillGrayLightest: $colorBaseCoolgray10;    
$colorFillGrayFaint: $colorBaseCoolgray5;    
$colorFillOrange: $colorBaseOrange50;    
$colorFillOrangeLight: $colorBaseOrange30;    
$colorFillOrangeLightest: $colorBaseOrange10;    
$colorFillRed: $colorBaseRed50;    
$colorFillRedDark: $colorBaseRed60;    
$colorFillRedLight: $colorBaseRed30;    
$colorFillRedLightest: $colorBaseRed10;    
$colorFillRedFaint: $colorBaseRed5;    
$colorFillYellow: $colorBaseYellow50;    
$colorFillYellowLight: $colorBaseYellow30;    
$colorFillYellowLightest: $colorBaseYellow10;    
$colorFillPurpleDark: $colorBasePurple60;    
$colorFillPurple: $colorBasePurple50;    
$colorFillPurpleLight: $colorBasePurple30;    
$colorFillPurpleLightest: $colorBasePurple10;    
$colorFillPurpleFaint: $colorBasePurple5;    
$colorStrokeTransparent: $colorBaseWhite0;    
$colorFillPink: $colorBasePink50;    
$colorStrokeWhite: $colorBaseWhite100;    
$colorStrokeText: $colorBaseCoolgray90;    
$colorStrokeGray: $colorBaseCoolgray50;    
$colorStrokeGrayLight: $colorBaseCoolgray30;    
$colorStrokeGrayLighter: $colorBaseCoolgray20;    
$colorStrokeGrayLightest: $colorBaseCoolgray10;    
$colorStrokeGreen: $colorBaseGreen50;    
$colorStrokeGreenLight: $colorBaseGreen30;    
$colorStrokeGreenLighter: $colorBaseGreen10;    
$colorStrokeBlue: $colorBaseBlue50;    
$colorStrokeBlueDark: $colorBaseBlue60;    
$colorStrokeBlueLight: $colorBaseBlue30;    
$colorStrokeBlueLighter: $colorBaseBlue10;    
$colorStrokeRed: $colorBaseRed50;    
$colorStrokeRedLight: $colorBaseRed30;    
$colorStrokeRedLighter: $colorBaseRed10;    
$colorStrokeOrange: $colorBaseOrange50;    
$colorStrokeOrangeLight: $colorBaseOrange30;    
$colorStrokeOrangeLighter: $colorBaseOrange10;    
$colorStrokeYellow: $colorBaseYellow50;    
$colorStrokeYellowLight: $colorBaseYellow30;    
$colorStrokeYellowLighter: $colorBaseYellow10;    
$colorStrokePurple: $colorBasePurple50;    
$colorStrokePurpleLight: $colorBasePurple30;    
$colorStrokePurpleLighter: $colorBasePurple10;    
$colorTextDefault: $colorBaseCoolgray90;    
$colorTextDefaultLight: $colorBaseCoolgray70;    
$colorTextDefaultLighter: $colorBaseCoolgray50;    
$colorTextDefaultLightest: $colorBaseCoolgray40;    
$colorTextWhite: $colorBaseWhite100;    
$colorTextSuccess: $colorBaseGreen50;    
$colorTextAlert: $colorBaseYellow50;    
$colorTextWarning: $colorBaseOrange50;    
$colorTextDanger: $colorBaseRed50;    
$colorTextLink: $colorBaseRed50;    
$colorTextLinkHover: $colorBaseRed60;    
$colorTextLinkInactive: $colorBaseRed30;    
$colorTextLinkVisited: $colorBaseRed50;    
$colorTextAi: $colorBasePurple50;    
$colorButtonPrimaryFill: $colorBaseGreen50;    
$colorButtonSecondaryFill: $colorFillTransparent;    
$colorButtonSecondaryFillHover: $colorFillGrayLightest;    
$colorButtonSecondaryFillDisabled: $colorFillGrayLighter;    
$colorButtonSecondaryStroke: $colorStrokeGrayLight;    
$colorButtonSecondaryStrokeHover: $colorStrokeGrayLight;    
$colorButtonSecondaryStrokeDisabled: $colorStrokeGrayLighter;    
$colorButtonSecondaryText: $colorTextDefault;    
$colorButtonSecondaryTextHover: $colorTextDefault;    
$colorButtonSecondaryTextDisabled: $colorTextDefaultLighter;    
$colorButtonPrimaryFillHover: $colorFillGreenDarker;    
$colorButtonPrimaryFillDisabled: $colorFillGreenLight;    
$colorButtonPrimaryStroke: $colorStrokeGreen;    
$colorButtonPrimaryStrokeHover: $colorStrokeGreenLight;    
$colorButtonPrimaryStrokeDisabled: $colorStrokeGreenLighter;    
$colorButtonPrimaryText: $colorTextWhite;    
$colorButtonPrimaryTextHover: $colorTextWhite;    
$colorButtonPrimaryTextDisabled: $colorTextWhite;    
$colorButtonTertiaryFill: $colorFillTransparent;    
$colorButtonTertiaryFillHover: $colorFillTransparent;    
$colorButtonTertiaryFillDisabled: $colorFillTransparent;    
$colorButtonTertiaryStroke: $colorStrokeTransparent;    
$colorButtonTertiaryStrokeHover: $colorStrokeTransparent;    
$colorButtonTertiaryStrokeDisabled: $colorStrokeTransparent;    
$colorButtonTertiaryText: $colorTextDefaultLight;    
$colorButtonTertiaryTextHover: $colorTextSuccess;    
$colorButtonTertiaryTextDisabled: $colorTextDefaultLightest;    
