$measureDimensionBaseFontSizeXs: 8px;    
$measureDimensionBaseFontSizeSm: 12px;    
$measureDimensionBaseFontSizeMd: 14px;    
$measureDimensionBaseFontSizeLg: 16px;    
$measureDimensionBaseFontSizeXl: 20px;    
$measureDimensionBaseFontSize2Xl: 24px;    
$measureDimensionBaseFontSize3Xl: 32px;    
$measureDimensionBaseFontSize4Xl: 40px;    
$measureDimensionBaseLineHeightXs: 12px;    
$measureDimensionBaseLineHeightSm: 16px;    
$measureDimensionBaseLineHeightMd: 20px;    
$measureDimensionBaseLineHeightLg: 24px;    
$measureDimensionBaseLineHeight2Xl: 28px;    
$measureDimensionBaseLineHeight3Xl: 40px;    
$measureDimensionBaseLineHeight4Xl: 48px;    
$measureDimensionBaseSpaceZero: 0px;    
$measureDimensionBaseSpace4Xs: 1px;    
$measureDimensionBaseSpace3Xs: 2px;    
$measureDimensionBaseSpace2Xs: 4px;    
$measureDimensionBaseSpaceXs: 6px;    
$measureDimensionBaseSpaceSm: 8px;    
$measureDimensionBaseSpaceMd: 12px;    
$measureDimensionBaseSpaceLg: 16px;    
$measureDimensionBaseSpaceXl: 20px;    
$measureDimensionBaseSpace2Xl: 24px;    
$measureDimensionBaseSpace3Xl: 32px;    
$measureDimensionBaseSpace4Xl: 40px;    
$measureDimensionBaseSpace5Xl: 48px;    
$measureDimensionBaseSpace6Xl: 64px;    
$measureDimensionBaseSizeZero: 0px;    
$measureDimensionBaseSize4Xs: 1px;    
$measureDimensionBaseSize3Xs: 2px;    
$measureDimensionBaseSize2Xs: 4px;    
$measureDimensionBaseSizeXs: 6px;    
$measureDimensionBaseSizeSm: 8px;    
$measureDimensionBaseSizeMd: 12px;    
$measureDimensionBaseSizeLg: 16px;    
$measureDimensionBaseSizeXl: 20px;    
$measureDimensionBaseSize2Xl: 24px;    
$measureDimensionBaseSize3Xl: 32px;    
$measureDimensionBaseSize4Xl: 36px;    
$measureDimensionBaseSize5Xl: 40px;    
$measureDimensionBaseSize6Xl: 44px;    
$measureDimensionBaseSize7Xl: 48px;    
$measureDimensionBaseSize8Xl: 64px;    
$measureDimensionBaseRadiusZero: 0px;    
$measureDimensionBaseRadiusXs: 2px;    
$measureDimensionBaseRadiusSm: 4px;    
$measureDimensionBaseRadiusMd: 6px;    
$measureDimensionBaseRadiusLg: 8px;    
$measureDimensionBaseRadiusXl: 16px;    
$measureDimensionBaseRadius2Xl: 32px;    
$measureDimensionBaseRadiusRound: 512px;    
$measureDimensionButtonFontSizeSm: $measureDimensionBaseFontSizeSm;    
$measureDimensionButtonFontSizeMd: $measureDimensionBaseFontSizeMd;    
$measureDimensionButtonFontSizeLg: $measureDimensionBaseFontSizeLg;    
$measureDimensionButtonLineHeightSm: $measureDimensionBaseLineHeightMd;    
$measureDimensionButtonLineHeightMd: $measureDimensionBaseLineHeightLg;    
$measureDimensionButtonLineHeightLg: $measureDimensionBaseLineHeight2Xl;    
$measureDimensionButtonRadiusSm: $measureDimensionBaseRadiusSm;    
$measureDimensionButtonRadiusMd: $measureDimensionBaseRadiusMd;    
$measureDimensionButtonRadiusLg: $measureDimensionBaseRadiusMd;    
$measureDimensionButtonPaddingXSm: $measureDimensionBaseSpaceSm;    
$measureDimensionButtonPaddingYSm: $measureDimensionBaseSpaceXs;    
$measureDimensionButtonPaddingYMd: $measureDimensionBaseSpaceXs;    
$measureDimensionButtonPaddingYLg: $measureDimensionBaseSpaceSm;    
$measureDimensionButtonPaddingXMd: $measureDimensionBaseSpaceMd;    
$measureDimensionButtonPaddingXLg: $measureDimensionBaseSpaceMd;    
$measureDimensionButtonHeightSm: $measureDimensionBaseSize3Xl;    
$measureDimensionButtonHeightMd: $measureDimensionBaseSize4Xl;    
$measureDimensionButtonHeightLg: $measureDimensionBaseSize6Xl;    
